.dnnFormItem .esCheckBoxes label{width:auto;font-weight:normal;margin-top:0;padding-right:5px;}
.dnnEditSkins table.skinViewer{width:80%;float:right;}
	.dnnFormItem.legacySkinNotice{margin-right:15%;}
	.dnnFormItem.legacySkinNotice .dnnFormMessage{margin-top:0;margin-right:1.5em;}